*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color:#466be4;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 10px 20px;
    background-color: #9baeec;
    color: #fff;
}
ul{
    display: flex;
    gap: 20px;
    list-style: none;
}
li{
    padding: 8px 10px;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}
li:hover{
    background-color:#466be4;
    cursor: pointer;
}
.btndiv{
    display: flex;
    gap: 10px;
}
button{
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
button:hover{
    background-color: #466be4;
    color: #fff;
}
#render{
    text-align: center;
    margin-top: 20px;
    color: white;
}
.postmodal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 9999;
    display: none;
    background-color: transparent #0039f3;
}
.postbox{
    width: 500px;
    display: flex;
    flex-direction: column;
    background-color: #dbe1f3;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    gap: 10px;
}
input, textarea{
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    /* transition: 0.3s ease-in-out; */
}
input:focus, textarea:focus{
    border: 1px solid #466be4;
}
#renderpost{
    background-color: #9baeec;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    border-radius: 10px;
}
.postcard{
    background-color: #dbe1f3;
    padding: 20px;
    margin: 10px;
    border-radius: 15px;
    gap: 10px;
}
.time{
    text-align: right;
}

@media screen and (max-width: 600px) {
    nav{
        flex-direction: column;
    }
    ul{
        flex-direction: column;
    }
    li{
        text-align: center;
    }
    .btndiv{
        flex-direction: column;
    }
}