*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color:#466be4;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 10px 20px;
    background-color: #9baeec;
    color: #fff;
}
ul{
    display: flex;
    gap: 20px;
    list-style: none;
}
li{
    padding: 8px 10px;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}
li:hover{
    background-color:#466be4;
    cursor: pointer;
}
.btndiv{
    display: flex;
    gap: 10px;
}
button{
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
button:hover{
    background-color: #466be4;
    color: #fff;
}
#render{
    text-align: center;
    margin-top: 20px;
    color: white;
}
@media screen and (max-width: 600px) {
    nav{
        flex-direction: column;
    }
    ul{
        flex-direction: column;
    }
    li{
        text-align: center;
    }
    .btndiv{
        flex-direction: column;
    }
}