*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color:#8099eb;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 20px 20px;
    background-color: #9baeec;
    color: #fff;
}
a{
    text-decoration: none;
    
}
.btn{
    display: flex;
    gap: 20px;
}
.btn button{
    padding: 8px 10px;
    border-radius: 8px;
    transition: 0.3s ease-in-out;
}
.btn button:hover{
   box-shadow: 0 4px 8px rgba(255, 255, 255, 0.7);
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    padding: 20px;
}    
.heading h1{
    font-size: 40px;
    color: white;
    margin-bottom: 10px;
}
.heading p{
    font-size: 30px;
    color: white;
    margin-top: 10px;
}
img{
    width: 500px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(131, 128, 128, 0.7);
}
@media screen and (max-width: 768px) {
    .container{
        flex-direction: column-reverse;
    }
    .heading h1{
        text-align: center;
    }
    .heading p{
        text-align: center;
    }
    img{
        width: 300px;
        height: 300px;
    }
}