@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
    margin: 0;
    padding: 0;
    /* height: 100vh; */
    background-color:#f3a683;
    font-family: "Roboto", sans-serif;
}
h1{
    text-align: center;
    margin-top: 30px;
    text-decoration: underline #070600;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* flex-wrap: wrap; */
}
.head_1{
    display: flex;
    justify-content: center;
}
.head_2{
    display: flex;
    justify-content: center;
}
.card{
    display: flex;
    flex-direction: column;
    background-color: #FFC312 ;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    width: 250px;
    transition: 0.5s;
}
.card:hover{
    box-shadow: 0 10px 20px rgb(0, 0, 0);
}
.btn{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s;
}
.btn:hover{
    background-color: cyan;
    color: black;
}
@media screen and (max-width: 768px){
    /* Container ko column rakho */
    .container{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* padding: 20px 0; */
        /* min-height: auto; */
    }
    h1{
        font-size: 24px;
        margin: 20px 0;
    }
    .head_1,
    .head_2{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    .card{
        width: 70%;  
        padding: 15px;
    }
    .card img{
        height: 120px;
    }
}

