@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    background-color: #3C40C6;
    min-height: 100vh;
}
.main{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.child1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
    align-items: center;
}
.child1 a{
    text-decoration: none;
    color: black;
}
a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.btn{
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 4px;
    display: block !important;
}
.div1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.child2{
    display: flex;
    flex-direction: column;
    background-color: violet;
    flex-grow: 1;
}
.main2{
    display: flex;
    flex-wrap: wrap;
    /* gap: 2px;  */
    /* padding: 5px; */
    flex-grow: 1;
    
    
}
.boxes{
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 7px;
    background-color: rgb(183, 47, 47);
    color: white;
    justify-content: flex-end;
    align-items: flex-end;
    font-weight: bold;
    font-size: 15px;
    position: relative;
    cursor: pointer;
}
.copy{
    padding: 7px 10px;
    color:black;
    font-weight: bold;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 7px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    display: none;
    
}
.boxes:hover .copy {
    display: block;
    
}
@media screen and (max-width: 786px){
    .boxes{
        font-size: 10px;
    }
}
@media screen and (max-width: 480px){
    .boxes{
        font-size: 5px;
    }
    .btn{
        display: none !important;
    }
}


