@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
.container{
    /* display: flex; */
    background-image: url(789.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 10px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(5, 245, 245, 45%);
    padding: 10px 50px;
    

}
.logo{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    gap: 10px;
}

ul{
    display: flex;
    list-style-type: none;
    gap: 30px;
    margin-left: auto;
    /* background-color: brown; */
}

li{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
li:hover{
    border-radius: 10px;
    background-color: rgb(252, 252, 5);
    color: black;
}
.m-icons {
    display: none !important;
}
.mm-icons{
    display: none !important;
}
.car-item{
    display: flex;
    justify-content:center;
    align-items: center;
    /* flex-wrap: wrap; */
    gap: 20px;
    /* background-color: aqua; */
    padding: 30px;
    margin-top: 50px;
    height: 70vh; 
    width: 100%;  
}
.c-item{
    display: flex;
    flex-direction: column;
    background-color: rgba(36, 223, 223, 45%);
    border-radius: 7px;
    margin: 6px;
    padding: 5px;
    height: 400px;
    justify-content: center;
 
}
.c-item .s-items{
    display: flex;
    margin-top: 0px;
    font-size: 80px;
    /* background-color: brown; */
    justify-content: center;
    align-items: center;   
}
.c-item:hover{
    box-shadow: 0 10px 20px rgb(0, 0, 0);
}
h3{
    font-weight: bold;
    font-size: 50px;
    
}
.c-item p{
    /* text-align: center; */
    font-size: 20px;
}
@media screen and (max-width: 768px) {
    .container{
        height: auto;
        background-position: center;
        background-size: cover;
    }
    .logo{
        gap: 5px;
    }
    .car-item{
        flex-wrap: wrap;
        height: auto;
        padding: 20px;
        width: 100%;
    }
    .menu-text{
        display: none !important;
    }
    .m-icons{
        display: block !important;
    }
    .mm-icons{
        display: none !important;
    }
    .c-item{
        padding: 20px;
    }
    .c-item .s-items{
        font-size: 100px;
        /* margin-top: 0px; */
    }
    h3{
       font-size: 40px;
    }
    .c-item p{
        font-size: 25px;
    }
}
@media screen and (max-width: 580px){
     .container{
        height: auto;
        background-position: center;
        background-size: cover;
    }
     .logo{
        gap: 5px;
    }
    .car-item{
        flex-wrap: wrap;
        height: auto;
        padding: 20px;
        width: 100%;
    }
    .menu-text{
        display: none !important;
    }
    .m-icons{
        display: block !important;
    }
    .mm-icons{
        display: none !important;
    }
    .c-item{
        padding: 20px;
    }
    .c-item .s-items{
        font-size: 100px;
        /* margin-top: 0px; */
    }
    h3{
       font-size: 40px;
    }
    .c-item p{
        font-size: 25px;
    }
}
 @media screen and (max-width: 480px){
     .container{
        height: auto;
        background-position: center;
        background-size: cover;
    }
     .logo{
        gap: 5px;
    }
    .car-item{
        flex-wrap: wrap;
        height: auto;
        padding: 20px;
        width: 100%;
    }
    .menu-text{
        display: none !important;
    }
    .m-icons{
        display: none !important;
    }
    .mm-icons{
        display: block !important;
    }
    .c-item{
        padding: 20px;
    }
    .c-item .s-items{
        font-size: 100px;
        /* margin-top: 0px; */
    }
    h3{
       font-size: 40px;
    }
    .c-item p{
        font-size: 25px;
    }
} 
 @media screen and (max-width: 320px){
     .container{
        height: auto;
        background-position: center;
        background-size: cover;
    }
    .car-item{
        flex-wrap: wrap;
        height: auto;
        padding: 10px;
        width: 100%;
    }
    .menu-text{
        display: none !important;
    }
    .m-icons{
        display: none !important;
    }
    .mm-icons{
        display: block !important;
    }
    .c-item{
        padding: 10px;
    }
    .c-item .s-items{
        font-size: 50px;
        /* margin-top: 0px; */
    }
    h3{
       font-size: 2dvh;
    }
    .c-item p{
        font-size: 15px;
    }
} 
