@media screen and (max-width: 768px) {
    .Mega_box{
        display: none;
    }
    nav{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        padding: 10px;
        gap: 10px;
    }
    .img{
        display: flex;
         width: 100%; 
        align-items: center;
        justify-content: flex-start;
        padding: 10px;

    }
    .icons{
        display: flex;
        width: 100%;
        align-items: center;
        padding: 8px;
        justify-content: flex-end;
        
    }
    nav ul{
        display: none;
        position: absolute;
        flex-direction: column;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgb(255, 255, 255);
        color: black;
        padding: 20px;
        transition: 0.5s;
    }
    .checkbtn{
        width: 5%; 
        opacity: 1;
        cursor: pointer;
        order: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    #toggle_menu:checked ~ ul{
        display: flex;
    }
    .image1{
        background-image: url("./hero_ase25__cop938p8rv6u_small_2x.jpg");
        width: 100%;
        background-position: center;
        background-size: cover;
        text-align: center;
    }
    .image2{
        background-image: url("./hero_iphone_17_pro__bknyzxfk2agi_small_2x123.jpg");
        width: 100%;
        background-position: center;
        background-size: cover;
    }
    .image3{
        background-image: url("./hero_iphone_air__0gxyavihpiqu_small.jpg");
        width: 100%;
        background-position: center;
        background-size: cover;
    }
    .image_box1{
        flex-direction: column;
        width: 100%;
    }
    .image_box2{
        flex-direction: column;
        width: 100%;
    }
    .image_box3{
        flex-direction: column;
        width: 100%;
    }
    .image_box2 .imagee3{
        background-image: url("./promo_ipad_air_avail__6i02t7nujr62_small.jpg");
    }
    .image_box1 .imagee1 .imagee2 img{
        object-fit: cover;
    }
     .image_box2 .imagee3 .imagee4 img{
        object-fit: cover;
    }
     .image_box3 .imagee5 .imagee6 img{
        object-fit: cover;
    }
    .footer_Container{
        width: 100%;
    }
    .footer_column {
    /* Block layout for stacking */
    display: block; 
    padding: 10px;
    max-width: none; 
    margin: 0;
}
.footer-group {
    width: 100%; 
}
    .ft-toggle:checked + label + .footer {
        display: block!important;
    }
    .p_head {
   width: 100%;
    cursor: pointer;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    padding: 8px 10px;
    font-weight: 600;
    border-bottom: 1px solid black;
    }
.p_head .material-symbols-outlined {
    display: block !important;
}
.footer {
    display: none !important;
    padding: 5px 0 15px 15px; 
}
.sub_items {
    display: none !important;
    padding-left: 30px; 
}
    .ft-toggle2:checked + label + .sub_items {
        display: block!important;
    }
  .footer li {
    margin: 2px 0;
    font-size: 14px;
    padding: 0;
}

.ft-toggle, .ft-toggle2 {
    display: none !important;
}
    .f_text{
        justify-content: center;
        width: 100%;
        font-size: 14px;
        padding: 10px;
    }
    .p7{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-size: 14px;
        padding: auto;
    }
}
@media screen and (max-width: 425px){
    .image_box1 .imagee1 .imagee2 img{
        object-fit: cover;
        background-position: center;
        background-size: cover;
    }
    .image_box2 .imagee3 .imagee4 img{
        object-fit: cover;
        background-position: center;
        background-size: cover;
    }
    .image_box3 .imagee5 .imagee6 img{
        object-fit: cover;
        background-position: center;
        background-size: cover;
    }
    .image1 .image2 .image3{
        object-fit: cover;
        background-position: center;
        background-size: cover;
    }
}