@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body{
    min-height: 100vh;
    /* display: flex; */
    /* flex-direction: column; */
}
nav{
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: white;
    gap: 10px;
    z-index: 10;
}
.img{
    width: auto;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    gap: 10px;
    color: white;
    
}
nav ul{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 20px;
    padding: 10px;
    margin: 0px;
    transition: 0.5s;
    z-index: 10;
}
li{
    cursor: pointer;
    font-size: 14px;
}
.icons{
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    order: 1;
    justify-content: flex-start;
    color: white;
}
.Mega_box{
    /* display: none; */
    position: absolute;
    left: 0;
    width: 100%;
    top: 54px;
    padding: 30px;
    background-color: rgb(0, 0, 0);
    visibility: hidden;
    opacity: 0; 
     transition: all 0.4s ease-in-out;
}
nav ul li:hover .Mega_box{
    visibility: visible;
    opacity: 1;
    top: 54px;
    transition: all 0.3s ease-in-out;

}
.content{
    display: flex;
    width: 100%;
    padding: 25px 40px;
    justify-content: center;
}
.main{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 30%;
    line-height: 35px;
}
.class_links{
    display:block;
    gap: 10px;
    list-style-type: none;
}
.class_links li{
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}
.main p{
    font-size: 20px;
    font-weight: bold;
}
.togglemenu{
    display: none;
}
.checkbtn{
    opacity: 0;
}
.image_container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    z-index: 0;
    margin-bottom: 10px;
}
.image{
    width: 100%;
    background-position: center;
    background-size: cover;
    display: block;
    height: 600px;
    position: relative;
}
.image_container h1{
    position: absolute;
    top: 65%;
    font-size: 40px;  
    color: white;
}
.image_container p{
     position: absolute;
    top: 77%; 
    font-size: 25px;
    color: white;
}
.image_container button{
    position: absolute;
    top: 85%;
    background-color: darkslateblue;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    cursor: pointer;
} 
.image_containerr{
   display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
    margin-bottom: 10px;
}
.imagee{
     width: 100%;
    background-position: center;
    background-size: cover;
    display: block;
    height: 600px;
    position: relative;
}
.image_containerr h1{
    position: absolute;
    top: 5%;
    font-size: 50px;   
    color: white;
}
.image_containerr p{
     position: absolute;
    top: 20%; 
    font-size: 25px;
    color: white;
}
.image_containerr .btn{
    position: absolute;
    top: 30%;
    left: 40%;
    background-color: darkslateblue;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    cursor: pointer;
} 
/* .image_containerr .btnn{
    position: absolute;
    top: 30%;
    left: 52%;   
    background-color: black;
    border: 1px solid darkslateblue;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
}  */
/* .btnn:hover{
    background-color: darkslateblue;
    color: white;
} */
.image_container_1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
    margin-bottom: 10px;
}
.image_1{
    width: 100%;
    background-position: center;
    background-size: cover;
    display: block;
    height: 600px;
    position: relative;
}
.image_container_1 h1{
    position: absolute;
    top: 5%;
    font-size: 50px;   
    color: black;
}  
.image_container_1 p{
     position: absolute;
    top: 16%; 
    font-size: 25px;
    color: black;
} 
.image_container_1 .btn{
    position: absolute;
    top: 30%;
    left: 40%;
    background-color: darkslateblue;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    cursor: pointer;
} 
/* .image_container_1 .btnn{
    position: absolute;
    top: 30%;
    left: 52%;   
    background-color: white;
    border: 1px solid darkslateblue;
    color: black;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
}  */
/* .btnn:hover{
    background-color: darkslateblue;
    color: white; 
}/*/ 
.image_container_2{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
    margin-bottom: 10px;
    gap: 25px;
}
.item2{
    width: 48%;
    position: relative;
}
.image_2{
    width: 100%;
    background-position: left;
    object-fit: cover;
    display: block;
    height: 600px;
    position: relative;
}
.image_container_2 .h12{
    position: absolute;
     left: 18%;
    top: 65%; 
    font-size: 40px;   
    color: black;
}  
.image_container_2 .p2{
    position: absolute;
    left: 22%;
    top: 74%; 
    font-size: 20px;
    color: black;
}
.image_container_2 .btn2{
    position: absolute;
    top: 80%;
    left: 40%;
    background-color: darkslateblue;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    cursor: pointer;
} 
.image_container_3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
    margin-bottom: 10px;
}
.item3{
    width: 48%;
    position: relative;
}
.image_3{
    width: 100%;
    background-position: left;
    object-fit: cover;
    display: block;
    height: 600px;
    position: relative;
}
.image_container_3 .h13{
    position: absolute;
    top: 10%;
    right: 24%;
    font-size: 50px;   
    color: black;
}  
.image_container_3 .p3{
     position: absolute;
    top: 20%; 
    right: 22%;
    font-size: 25px;
    color: black;
}
.image_container_3 .btn3{
    position: absolute;
    top: 32%;
    right: 40%;
    background-color: darkslateblue;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    cursor: pointer;
} 
/* .image_container_3 .btnn3{
    position: absolute;
    top: 32%;
    right: 26%;   
    background-color: white;
    border: 1px solid darkslateblue;
    color: black;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
} */
.image_container_4, .image_container_5{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
    margin-bottom: 10px;
    gap: 25px;
}
.item4, .item5{
    width: 48%;
    position: relative;
}
.image_4, .image_5{
    width: 100%;
    background-position: left;
    object-fit: cover;
    display: block;
    height: 600px;
    position: relative;
}
.image_container_4 .h14{
    position: absolute;
    top: 10%;
    left: 35%;
    font-size: 40px;   
    color: black;
}  
.image_container_5 .h15{
    position: absolute;
    top: 10%;
    right: 24%;
    font-size: 40px;   
    color: black;
}
.image_container_4 .p4{
     position: absolute;
    top: 19%; 
    left: 20%;
    font-size: 23px;
    color: black;
} 
.image_container_5 .p5{
     position: absolute;
    top: 19%; 
    right: 14%;
    font-size: 25px;
    color: black;
}
.image_container_4 .btn4{
    position: absolute;
    top: 27%;
    left: 27%;
    background-color: darkslateblue;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.image_container_5 .btn5{
     position: absolute;
    top: 27%;
    right: 46%;
    background-color: darkslateblue;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
/* .image_container_4 .btnn4{
    position: absolute;
    top: 27%;
    left: 51%;   
    background-color: white;
    border: 1px solid darkslateblue;
    color: black;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
}
.image_container_5 .btnn5{
     position: absolute;
    top: 27%;
    right: 32%;   
    background-color: white;
    border: 1px solid darkslateblue;
    color: black;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
} */
.image_container_6, .image_container_7{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
    margin-bottom: 10px;
    gap: 25px;
}
.item6, .item7{
    width: 48%;
    position: relative;
}
.image_6, .image_7{
    width: 100%;
    background-position: left;
    object-fit: cover;
    display: block;
    height: 600px;
    position: relative;
}
.image_container_6 .h16{
    position: absolute;
    top: 10%;
    left: 14%;
    font-size: 40px;   
    color: black;
}  
.image_container_7 .h17{
     position: absolute;
    top: 10%;
    right: 36%;
    font-size: 50px;   
    color: black;
}
.image_container_6 .p6{
     position: absolute;
    top: 28%; 
    left: 12%;
    font-size: 20px;
    color: black;
} 
.image_container_7 .p7{
     position: absolute;
    top: 20%; 
    left: 28%;
    font-size: 24px;
    color: black;
}
.image_container_6 .btn6{
    position: absolute;
    top: 38%;
    left: 28%;
    background-color: darkslateblue;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
 .image_container_7 .btn7{
    position: absolute;
    top: 40%;
    right: 36%;
    background-color: darkslateblue;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.carousel{
    margin: 5px;
}
.move_image{
    margin: 10px;
}
.footer_text{
    display: flex;
    flex-direction: column;
    justify-content: center ;
    padding: 40px;
    line-height: 20px;
    font-size: 16px;
    background-color: rgb(227, 218, 218);
}
.footer_column{
    display: flex;
    padding: 40px;
    margin: 10px;
}
.footer{
    list-style-type: none;
    /* gap: 10px;
    margin: 10px;
    color: black; */
}
.footer li a{
    margin: 10px;
    color: black;
    text-decoration: none;
    margin: auto;
    width: 150px;
}
.footer p{
    width: 150px;
    margin: 5px;
    font-weight: 800;
    padding: 5px;
}
.f_text{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 50px;
}
.p7{
     width: 100%;
    display: flex;              
    justify-content: space-between; 
    flex-wrap: wrap;
}



