@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(212, 147, 6);
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100vh;
}

.clockframe {
    background-image: url("./1.webp");
    background-position: fixed;
    background-size: cover;
    font-family: "Google Sans Flex", sans-serif;
    gap: 30px;
    border-radius: 40px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    font-size: 25px;
    color: rgb(0, 0, 0);
}

.clockbox {
    font-size: 50px;
    background-color: rgba(202, 242, 242, 0.5);
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    width: 100%;

}

#greet {
    font-size: 30px;
    margin-bottom: 20px;
}

#date {
    color: white;
    font-size: 30px;
    margin-top: 30px;
    padding: 5px;
}
@media screen and (max-width: 768px) {
    .clockframe {
        width: auto;
        background-position: fixed;
        background-size: cover;
        gap: 16px;
    }

    .clockbox {
        width: 100%;
        font-size: 30px;
        padding: 5px;
    }

    h1 {
        text-align: center;
        font-size: 25px;
    }

    #greet {
        font-weight: 600;
        font-size: 20px;
    }

    #date {
        font-weight: 600;
        font-size: 20px;
    }
}